.is-system-footer
  width 100%
  overflow hidden
  background-color #38465A
  position fixed
  bottom 0px
  min-width 29em
.is-system-footer-section-left
  float left
  height 1.875em
  border-color #4e5b6d
  border-right-width 1px
  border-right-style solid
.system-footer-icon
  opacity 0.8
  height 1.875em
  cursor pointer
  width 2.5em
  display inline-block
  float left
.system-footer-icon-wrapper
  padding-left 0.75em
  padding-top 0.3125em
.system-footer-text
  display inline-block
  padding-top 0.5em
  float left
  margin-right 0.75em
  color #ffffff
  font-size 0.75em

.is-system-footer-section-left.is-last
  border-right-width 0px
  border-right-style none

.system-footer-icon.is-pressed, .system-footer-text.is-pressed, .is-system-footer-section-left.is-pressed
  opacity 1
  background-color #27374a

.is-system-footer-section-right
  height 1.875em
  position absolute
  right 0px
  display table
  border-color #4e5b6d
  border-left-width 1px
  border-left-style solid
.system-footer-icon.is-last-icon
  width 3.125em
  padding-left 1.75em
.system-footer-icon.is-last-icon .system-footer-icon-wrapper
  padding-left 0px
.is-grey-text
  color #d7dade
