<!-- template: tabs -->
<div class="is-device-icon is-tabs">
    <div class="is-device-icon-wrapper">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#forms"></use>
        </svg>
    </div>
    <div class="is-device-text">
    </div>
</div>

<!-- template: pc -->
<div class="is-device-icon is-device">
    <div class="is-device-icon-wrapper">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="38px" viewBox="0 0 38 38" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#pc"></use>
        </svg>
    </div>
    <div class="is-device-text">
    </div>
</div>

<!-- template: tablet -->
<div class="is-device-icon">
    <div class="is-device-icon-wrapper">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="38px" viewBox="0 0 38 38" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#tablet"></use>
        </svg>
    </div>
    <div class="is-device-text">
    </div>
</div>

<!-- template: phone -->
<div class="is-device-icon">
    <div class="is-device-icon-wrapper">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="38px" viewBox="0 0 38 38" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#phone"></use>
        </svg>
    </div>
    <div class="is-device-text">
    </div>
</div>
