<!-- template: grid -->
<div class="grid-b is-footer">
    <div class="header-bl">
        <table class="table-bl" cellspacing="0" cellpadding="0">
            <thead>
                <tr tabindex="1">
                    <th class="grid-th-bh">
                        <div class="th-text-be text-ellipsis-gm"></div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="scrollable-bl">
        <div class="scrollable-bll" style="overflow: hidden"><div>
            <table class="table-bl" cellspacing="0" cellpadding="0"><tbody></tbody></table>
        </div></div>
    </div>
    <div class="grid-paginator-b">
        <div class="grid-footer-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                          <use xlink:href="/images/controls.svg#arrow-right1"></use>
                        </svg>
        </div>
        <div class="grid-footer-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                          <use xlink:href="/images/controls.svg#arrow-right"></use>
                        </svg>
        </div>
        <div class="grid-footer-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                          <use xlink:href="/images/controls.svg#arrow-left"></use>
                        </svg>
        </div>
        <div class="grid-footer-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                          <use xlink:href="/images/controls.svg#arrow-left1"></use>
                        </svg>
        </div>
        <div class="text-with-icon-b"><div class="text-with-icon-b-wrapper">
            <div class="text-be">10</div>
        </div></div>
        <div class="grid-footer-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                          <use xlink:href="/images/controls.svg#hamburger"></use>
                        </svg>
        </div>
    </div>
</div>