<!-- template: arrow -->
<div class="arrow-be"></div>

<!-- template: title -->
<div class="dropdown-menu-item2-b is-title">
    <div class="dropdown-menu-item-wrapper">
        <div class="text-bl">Open on device</div>
    </div>
</div>

<!-- template: menuItem -->
<div class="dropdown-menu-item2-b">
    <div class="dropdown-menu-item-wrapper">
        <div class="left-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
              <use xlink:href="###LEFT_ICON_REF###"></use>
            </svg>
        </div>
        <div class="text-bl"></div>
        <div class="right-icon">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                <use xlink:href="###RIGHT_ICON_REF###"></use>
            </svg>
        </div>
    </div>
    <div class="content-bl">
    </div>
    <div class="arrow-be-wrapper">
        <div class="arrow-be"></div>
    </div>
</div>

<!-- template: separator -->
<div class="dropdown-menu-item2-b is-separator"></div>

