<!-- template: header -->
<div class="prop-edit-header"></div>
<!-- template: body -->
<div class="prop-edit-body">
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- template: property -->
<tr>
    <td class="name"></td>
    <td class="value"><input type="text"/></td>
</tr>

<!-- template: selectProperty -->
<tr>
    <td class="name"></td>
    <td class="value"><select/></td>
</tr>

