<!-- template: container -->
<div class="control-ext">
    <div class="control container f-container">
        <div class="c-content"></div>
    </div>
    <div class="grid" style="display: none"/>
</div>
<!-- template: row -->
<div class="f-row"></div>
<!-- template: EMPTY -->
<div class="control-wrapper empty">
</div>
<!-- template: PADDING -->
<div class="control-wrapper empty padding">
</div>
<!-- template: FOOTER -->
<div class="control-wrapper footer">
</div>
<!-- template: HEADER -->
<div class="control-wrapper header">
</div>
<!-- template: gridColumn -->
<div class="grid-column">
</div>
<!-- template: CONT_LABEL -->
<div class="control-wrapper">
    <div class="control label cont-label"></div>
</div>
