<!-- template: container -->
<div class="control-ext">
    <div class="control h-container container designer">
        <div class="c-content">
            <div class="control h-container container">
                <div class="c-content">
                    <div class="close-button active" role="left">
                        <div>
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                <use xlink:href="/images/Genetix.svg#arrowleft16"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="close-button close-form-button active" role="right">
                        <div>
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                <use xlink:href="/images/Genetix.svg#arrowright16"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="designer-left">
                        <div class="control v-container container">
                            <div class="c-content designer-content-wrp">
                                <div class="is-system-panel clearfix designer-toolbar main">
                                    <div class="system-panel-section-left no-spaces" style="margin-left: 3em">
                                        <div class="system-toolbar-icon button" role="vertical">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="17.977px" viewBox="0 0 20 16" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#vertical"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="horizontal">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="16px" viewBox="0 0 16 17.977" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#horizontal"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="layer">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#layer"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="system-panel-section-left no-spaces">
                                        <div class="system-toolbar-icon button" role="control-grid" title="Grid">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#grid"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="control-toolbar" title="Toolbar">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#toolbar"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="control-form" title="Form">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#form"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="control-tree" title="Tree">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#tree"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="system-panel-section-left no-spaces">
                                        <div class="system-toolbar-icon button" role="delete" title="Delete">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#trash22"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="system-panel-section-right no-spaces">
                                        <div class="props-wrapper" role='layout-props'>
                                            <div>
                                                <div class="orient-icon">
                                                    <div class="horizontal">
                                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                            <use xlink:href="/images/Genetix.svg#arrows_horizontal"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="vertical">
                                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                            <use xlink:href="/images/Genetix.svg#arrows_vertical"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="layer">
                                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                            <use xlink:href="/images/Genetix.svg#layer"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="size-edit-wrp"><input role="size"/></div>
                                                <div class="units"><div role="units">px</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-padding">
                                    <div class="model-content">
                                        <div class="model-wrapper">
                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                <use xlink:href="/images/Genetix.svg#data_model"></use>
                                            </svg>
                                            <div class="icon-title">Подключить Data model</div>
                                        </div>
                                    </div>
                                    <div class="is-system-panel clearfix designer-toolbar controls">
                                        <div  class="system-panel-section-left no-spaces">
                                        </div>
                                        <div class="system-toolbar-icon-wrapper is-dots">
                                            <div class="wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                        <use xlink:href="/images/Genetix.svg#dots"></use>
                                                    </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="designer-content">
                                        <div class="designer-scroll">
                                            <svg class="scheme"/>
                                        </div>
                                    </div>
                                    <div class="prop-edit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="designer-right">
                        <div class="control v-container container">
                            <div class="c-content">
                                <div class="is-system-panel clearfix designer-toolbar tabs">
                                    <div class="system-panel-section-left no-spaces is-last buttons" style="display: none">
                                        <div class="system-toolbar-icon button" role="layout-tablet-phone" title="New layout">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#phone_22"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="layout-tablet-v" title="New layout">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#tablet_v_22"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="layout-tablet-h" title="New layout">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#tablet_h_22"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="system-toolbar-icon button" role="layout-pc" title="New layout">
                                            <div class="system-toolbar-icon-wrapper">
                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                    <use xlink:href="/images/Genetix.svg#pc_22"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="system-panel-section-left no-spaces is-last layouts">
                                        <div class="width-pointer"><div class="line"></div><div class="label">1005px</div></div>
                                    </div>
                                </div>
                                <div class="gen-form">
                                    <div class="control v-container container">
                                        <div class="refresh-button">
                                            <div>
                                                <div>
                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                                                        <use xlink:href="/images/Genetix.svg#refresh"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- template: tab -->
<div class="layout-tab">
    <div class="tab-wrapper">
        <div class="controls">
            <div class="icon phone">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                    <use xlink:href="/images/Genetix.svg#phone_22"></use>
                </svg>
            </div>
            <div class="icon tablet-v">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                    <use xlink:href="/images/Genetix.svg#tablet_v_22"></use>
                </svg>
            </div>
            <div class="icon tablet-h">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                    <use xlink:href="/images/Genetix.svg#tablet_h_22"></use>
                </svg>
            </div>
            <div class="icon pc">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" xml:space="preserve">
                    <use xlink:href="/images/Genetix.svg#pc_22"></use>
                </svg>
            </div>
            <div role="delete">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="11px" viewBox="0 0 16 16" xml:space="preserve">
                    <use xlink:href="/images/Genetix.svg#x_12"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="to-value"><div class="value-l"></div><div class="value-e"><input role="to-val"/></div></div>
    <div class="arrows left" role="left-arrows">
        <div class="line"></div>
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="12px" viewBox="0 0 12 12" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#add12"></use>
        </svg>
    </div>
    <div class="arrows right" role="right-arrows">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="12px" viewBox="0 0 12 12" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#add12"></use>
        </svg>
    </div>
</div>

<!-- template: button -->
<div class="system-toolbar-icon button ext-control" role="ext-layout" guid="<<GUID>>" title="<<CONTROL_NAME>>">
    <div class="system-toolbar-icon-wrapper">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
            <use xlink:href="/images/Genetix.svg#<<ICON_NAME>>"></use>
        </svg>
        <div class="icon-title"><<CONTROL_NAME>></div>
    </div>
</div>

<!-- template: layer-icon -->
<g>
    <path fill="#ffffff" d="M14,4v9H3c0,1.1,0.9,2,2,2h9c1.1,0,2-0.9,2-2V6C16,4.9,15.1,4,14,4z"/>
    <path fill="#ffffff" d="M13,10V3c0-1.1-0.9-2-2-2H2C0.9,1,0,1.9,0,3v7c0,1.1,0.9,2,2,2h9C12.1,12,13,11.1,13,10z M2,3h9v7H2V3z"/>
</g>
<!-- template: arrows-horizontal -->
<g>
    <polygon fill="#ffffff" points="11,8 11,10 15,7 11,4 11,6 6,6 6,4 2,7 6,10 6,8 "/>
</g>
<!-- template: arrows-vertical -->
<polygon fill="#ffffff" points="9,5 11,5 8,1 5,5 7,5 7,10 5,10 8,14 11,10 9,10 "/>

<!-- template: model -->
{
"$sys": {
"guid": "f0ee9df0-314c-e22c-4c6e-64e76f65bb2d",
"typeGuid": "5e89f6c7-ccc2-a850-2f67-b5f5f20c3d47"
},
"fields": {
"Id": "5",
"Name": "DataModel",
"ResElemName": "ADataModel8"
},
"collections": {
"Datasets": [
{
"$sys": {
"guid": "061b1347-18a2-a829-fcce-ba59058b4bdf",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "6",
"Name": "DatasetCompany",
"ObjType": "5f9e649d-43c4-d1e6-2778-ff4f58cd7c53",
"Active": true,
"OnMoveCursor": " { this.getControlMgr().getByName('FormParam1').value(newVal); } ",
"ResElemName": "Dataset8"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "3e9600e8-e4e8-cbef-39ab-c195fbe382cb",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "7",
"Name": "Name",
"ResElemName": "DataField118"
}
},
{
"$sys": {
"guid": "fa866d8f-725e-f688-3de6-c0a782c95d5e",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "8",
"Name": "Id",
"ResElemName": "DataField119"
}
},
{
"$sys": {
"guid": "f65ff081-e135-84f0-fd15-a19844f06b95",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "9",
"Name": "country",
"ResElemName": "DataField120"
}
},
{
"$sys": {
"guid": "0afd044f-76f8-efbf-5ecc-c59df18abba9",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "10",
"Name": "city",
"ResElemName": "DataField121"
}
},
{
"$sys": {
"guid": "1b117aef-3424-614a-1824-523cc46c0507",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "11",
"Name": "address",
"ResElemName": "DataField122"
}
}
]
}
},
{
"$sys": {
"guid": "eefbcccf-743a-66a4-c3a2-4751d2a334f5",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "12",
"Name": "DatasetContact",
"ObjType": "3618f084-7f99-ebe9-3738-4af7cf53dc49",
"Active": true,
"Master": "061b1347-18a2-a829-fcce-ba59058b4bdf",
"ResElemName": "Dataset9"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "439b8b9e-447d-c21f-f629-3105b1df754e",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "13",
"Name": "Id",
"ResElemName": "DataField123"
}
},
{
"$sys": {
"guid": "80ab10ed-373c-2870-0f52-0c5c7bbf6978",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "14",
"Name": "Name",
"ResElemName": "DataField124"
}
},
{
"$sys": {
"guid": "ec732baf-e03f-a116-7925-583712f681f9",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "15",
"Name": "parent",
"ResElemName": "DataField125"
}
},
{
"$sys": {
"guid": "f4359087-4731-24d1-0b64-471965e019cf",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "16",
"Name": "firstname",
"ResElemName": "DataField126"
}
},
{
"$sys": {
"guid": "ccf93017-2c46-374f-6a20-68f7c15426f8",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "17",
"Name": "lastname",
"ResElemName": "DataField127"
}
},
{
"$sys": {
"guid": "c3c0a738-5fea-608d-24f9-138e4530e001",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "18",
"Name": "birthdate",
"ResElemName": "DataField128"
}
},
{
"$sys": {
"guid": "99767254-4250-7dd4-1b56-659298414ddf",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "19",
"Name": "country",
"ResElemName": "DataField129"
}
},
{
"$sys": {
"guid": "99b59f32-3dc5-9472-05fa-1643e46f87d1",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "20",
"Name": "city",
"ResElemName": "DataField130"
}
},
{
"$sys": {
"guid": "c0a650b1-470e-7237-312e-d530c827e568",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "21",
"Name": "address",
"ResElemName": "DataField131"
}
}
]
}
},
{
"$sys": {
"guid": "e559320d-d80d-48f7-ed4e-0ac63587e606",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "22",
"Name": "DatasetContract",
"ObjType": "8583ee1d-6936-19da-5ef0-9025fb7d1d8d",
"Active": true,
"Master": "061b1347-18a2-a829-fcce-ba59058b4bdf",
"ResElemName": "Dataset10"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "2e2949ac-bc9b-80de-4747-2df61750f105",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "23",
"Name": "Id",
"ResElemName": "DataField132"
}
},
{
"$sys": {
"guid": "39c08f9d-b359-8dc0-99d7-0b619401e18f",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "24",
"Name": "Name",
"ResElemName": "DataField133"
}
},
{
"$sys": {
"guid": "f48f71c0-a3c8-2f3b-9a69-1c1ce683e605",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "25",
"Name": "parent",
"ResElemName": "DataField134"
}
},
{
"$sys": {
"guid": "73904728-a2fb-bd6d-5fac-58054a78e7c7",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "26",
"Name": "number",
"ResElemName": "DataField135"
}
},
{
"$sys": {
"guid": "15fe26e8-2dbd-5fea-3f21-409175aca9ab",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "27",
"Name": "total",
"ResElemName": "DataField136"
}
}
]
}
},
{
"$sys": {
"guid": "92720532-a58f-68bb-6e5a-02b28239e312",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "28",
"Name": "DatasetAddress",
"ObjType": "edca46bc-3389-99a2-32c0-a59665fcb6a7",
"Active": true,
"Master": "eefbcccf-743a-66a4-c3a2-4751d2a334f5",
"ResElemName": "Dataset11"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "182024da-784f-5615-dc1f-2700fe8f862c",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "29",
"Name": "Id",
"ResElemName": "DataField137"
}
},
{
"$sys": {
"guid": "1146ab82-429c-7637-e7f5-c9cb770a19d0",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "30",
"Name": "Name",
"ResElemName": "DataField138"
}
},
{
"$sys": {
"guid": "f4f00409-7541-290a-7e8e-404e1855c437",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "31",
"Name": "parent",
"ResElemName": "DataField139"
}
},
{
"$sys": {
"guid": "60534ba5-b966-a2a3-a70b-f5787784b640",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "32",
"Name": "country",
"ResElemName": "DataField140"
}
},
{
"$sys": {
"guid": "f06101d1-2ff0-39a0-8ff0-88fa5f0557d5",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "33",
"Name": "city",
"ResElemName": "DataField141"
}
},
{
"$sys": {
"guid": "15aae336-6b29-8020-eb3b-5899287578a6",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "34",
"Name": "address",
"ResElemName": "DataField142"
}
}
]
}
}
]
}
}
