<!-- template: container -->
<div class="control-ext">
    <div class="control container g-container">
        <div class="c-content"></div>
    </div>
</div>
<!-- template: title -->
<tr class="container-title">
    <td class="container-title">
        <div class="container-title">
            <div class="cont-title-icon">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" xml:space="preserve">
                                                                    <use xlink:href="../images/Genetix.svg#arrow_down_16"></use>
                                                                </svg>
            </div>
            <div class="cont-title-text"></div>
        </div>
    </td>
    <td class="g-container-title-fill">
    </td>
</tr>