<!-- template: propEditor -->
<div  class="prop-editor control"></div>

<!-- template: controls -->
<select class="controls"></select>

<!-- template: props -->
<div class="props" ></div>

<!-- template: change -->
<input class="change" type="button" value="Изменить" style="display: none;" />

<!-- template: delbtn -->
<input class="delbtn" type="button" value="Удалить" style="display: none; margin-left:10px;" />

<!-- template: field -->
<p><span class="name"></span> <span class="value"><input></span></p>

<!-- template: parents -->
<div class="parents" style="display: none;"><p><span class="name">Parent</span> <span class="value"><select></select></span></p><p></div>

