<!-- template: button -->
<div class="control-ext">
    <div class="control button tool-button" tabindex="1">
        <div class="tool-button-content">
            <div class="tool-button-content-wrapper">
                <div class="t-button-icon-wrapper">
                </div>
                <div class="t-button-caption-wrapper">
                    <div class="t-button-caption"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- template: svg -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="###SIZE###px" height="###SIZE###px" viewBox="0 0 ###SIZE### ###SIZE###" xml:space="preserve">
    <use xlink:href="/images/###IMAGE###"></use>
</svg>

<!-- template: leftCorner1 -->
<span class="corner" style="
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #d7e2f5;
    bottom: 0px;
    border-bottom-right-radius: 5px;
    z-index: 2;">
</span>
<!-- template: leftCorner2 -->
<span class="corner" style="
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    bottom: 0px;">
</span>
<!-- template: rightCorner1 -->
<span class="corner" style="
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #d7e2f5;
    bottom: 0px;
    right: 0px;
    border-bottom-left-radius: 5px;
    z-index: 2;">
</span>
<!-- template: rightCorner2 -->
<span class="corner" style="
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    right: 0px;
    bottom: 0px;">
</span>
