<!-- template: toolbar -->
<div class="control-ext">
    <div class="control toolbar">
        <div class="c-content">
            <div class="c-caption-wrapper">
                <div class="c-caption">
                    <div class="c-caption-content">
                        <div class="t-caption-icon-wrapper"/>
                        <div class="t-caption-title-wrapper">
                            <div class="t-caption-text"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-toolbar-dots">
                <div class="tool-button-content">
                    <div class="t-button-icon-wrapper">
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="-3 -5 22 22" xml:space="preserve">
                            <use xlink:href="/images/Genetix.svg#dots2"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- template: svg -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="###SIZE###px" height="###SIZE###px" viewBox="0 0 22 22" xml:space="preserve">
    <use xlink:href="/images/###IMAGE###"></use>
</svg>
